<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Buy my stuff</title>
  </head>
  <body>
    <p>Buy my stuff</p>
    <form id="order" method="post" action="/order/">
        {% csrf_token %}
        <button type="submit" onclick="submitClick()">Make an order</button>
    </form>
    <script src="//cdn.callibri.ru/callibri.js" type="text/javascript" charset="utf-8"></script>
    <div id="call-center-phone">
      {{ phone_number }}
    </div>

    {% if message != '' %}
      <div>
        {{ message }}
      </div>

    {% endif %}
  </body>
</html>


<script>
    function submitClick() {
        document.getElementById('order').submit()
    }
</script>
